---

name: molecule

on:  # yamllint disable-line rule:truthy
  - push
  - pull_request

jobs:
  molecule:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: pip3 install -r .dev_requirements.txt

      - name: Install Ansbile dependencies
        run: ansible-galaxy install git+file://$(pwd)

      - name: Test playbook
        run: molecule test
        env:
          PY_COLORS: '1'
